ASPNETCORE_ENVIRONMENT=Development

# PostgreSQL
POSTGRES_DB=challenge
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password_here

# Connection string usada pelo Docker (Host=db aponta para o serviço 'db' do compose)Docker (Host=db aponta para o serviço 'db' do compose)
ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=challenge;Username=postgres;Password=your_password_here

# Scraper
Scraper__IntervalMinutes=5
Scraper__TargetUrl=https://economia.awesomeapi.com.br/json/last/USD-BRL,EUR-BRL,BTC-BRL,EUR-USD
